@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quattrocento&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #df9926;
}

/* Hero - Section */

.career .hero {
  background-image: url(../../images/Career/career.png);
  background-color: black;
  background-repeat: no-repeat;
  padding: 13rem 0;
  background-size: contain;
  background-position: 46rem 0;
}

.hero h1 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: #e18631;
  padding-left: 7rem;
  font-size: 3rem;
}

.hero p {
  color: white;
  padding-left: 7rem;
  padding-right: 46rem;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 1rem;
  line-height: 2.2rem;
  font-weight: 100;
}

.about {
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.about h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  font-size: 2rem;
  padding-left: 7rem;
  padding-right: 14rem;
}

.about p {
  padding-left: 7rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.job {
}

.job .card {
    background-color: #DF9926;
    color: white;
    font-weight: 100;
    background-image: url('../../images/Career/card.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem;
    border-radius: 1rem;
}

.job .card h1 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  padding: 3rem 0;
}

.job .card .para{
    padding: 1rem 3rem;

}

.job .card .para p{
    letter-spacing: 1px;
    font-size: 13px;
}

.job .card button{
    background-color: white;
    color: #DF9926;
    text-decoration: none;
    border: none;
    font-size: 24px;
    font-weight: 600;
    padding: 1% 4%;
    border-radius: 8px;
    margin: 2rem 15rem;
    cursor: pointer;
}
