<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>
    <link rel="stylesheet" href="css/career-new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include ('../partials/nav') %>

        <div class="career">
            <div class="hero">
                <h1>We Got You !</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet consectetur ipsum iaculis sit mi proin.
                    Non vestibulum vel egestas diam lobortis at feugiat aliquet. Sit consequat integer in massa nunc
                    semper neque consectetur.</p>
            </div>

            <div class="about">
                <h2>At Sutlej Soft, a career is all about rising to the challenge and taking the bull by the horn.</h2>
                <p>We believe that investing in our team is a strong catalyst for long term growth. And we take great
                    care to build loyalty through humane and employee-friendly policies. The organization is structured
                    efficiently to align with the requirements of the various business segments and to ensure that the
                    most effective solutions are delivered in accelerated timeframes.</p>
                <p>
                    We're a company that understands that product innovation comes from people innovation, and that's
                    why we invest in cultivating leaders throughout the organization.
                    Our new additions to the team include a good mix of fresh graduates from management and technical
                    institutes in India, as well as lateral hires with appropriate experience in their respective fields
                    that match our industry-leading requirements. Come to Sutlej Soft and make connections that matter.
                </p>
            </div>

            <div class="job">
                <div style="display: flex;">
                    <div class="card">
                        <h1>Job code: Sl No 1 - SD3+</h1>
                        <div class="para">
                            <p>Experience: 3+ yrs</p>
                            <p>Academic Qualification: Graduate</p>
                            <p>Key technical skills include but are not limited to</p>
                        </div>

                        <div class="para">
                            <p>Experience building multi-layered systems.</p>
                            <p>Knowledge in performing all or part of the full life-cycle development process, ranging
                                from analysis, design, and development to implementation and support mobile (iOS and
                                Android) based applications.</p>
                            <p>Expert at designing, coding, and implementing with localization requirements in mind.</p>
                            <p>Strong algorithmic, Object Oriented and debugging skills.</p>
                            <p>Hands on knowledge in Angular JS, Javascript, Jquery,  Css</p>
                        </div>

                        <div class="para">
                            <p>Desired traits:</p>
                            <p>Enthusiastic, creative, team player having good oral and written communication skills.
                                Experience being part of a small team of specialists working to deliver breakthrough products in CRM space will be given preference.</p>
                                <p>Hunger for learning and adding value in all areas of work.</p>
                                <p>Ability to build strong relationships with people, ability to work with maximum efficiency in a constantly evolving environment where the process is fluid.</p>
                        </div>

                        <button>APPLY NOW</button>
                    </div>

                    <div class="card">
                        <h1>Job code: Sl No 1 - SD3+</h1>
                        <div class="para">
                            <p>Experience: 3+ yrs</p>
                            <p>Academic Qualification: Graduate</p>
                            <p>Key technical skills include but are not limited to</p>
                        </div>

                        <div class="para">
                            <p>Experience building multi-layered systems.</p>
                            <p>Knowledge in performing all or part of the full life-cycle development process, ranging
                                from analysis, design, and development to implementation and support mobile (iOS and
                                Android) based applications.</p>
                            <p>Expert at designing, coding, and implementing with localization requirements in mind.</p>
                            <p>Strong algorithmic, Object Oriented and debugging skills.</p>
                            <p>Hands on knowledge in Angular JS, Javascript, Jquery,  Css</p>
                        </div>

                        <div class="para">
                            <p>Desired traits:</p>
                            <p>Enthusiastic, creative, team player having good oral and written communication skills.
                                Experience being part of a small team of specialists working to deliver breakthrough products in CRM space will be given preference.</p>
                                <p>Hunger for learning and adding value in all areas of work.</p>
                                <p>Ability to build strong relationships with people, ability to work with maximum efficiency in a constantly evolving environment where the process is fluid.</p>
                        </div>

                        <button>APPLY NOW</button>
                    </div>
                </div>
            </div>

        </div>
        <%- include ('../partials/footer') %>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>