<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>
    <link rel="stylesheet" href="css/career.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include ('../partials/nav') %>

    <div class="careerMain">
        <!----------- Section One ----------->
        <div class="herocareer">
            <div class="sideImgContainers">
                <img src="../../images/Career/point.png" alt="PointImg" class="hlimgOne" />
                <img src="../../images/Career/astro.png" alt="Astro-Img" class="hlimgTwo" />
            </div>
            <div class="MainDivHero">
                <h2 class="heroHead">Work at sutlejsoft<br/>Careers</h2>
                <!-- <h1 class="headCareer">Careers</h1> -->
            </div>
            <div class="sideImgContainers">
                <img src="../../images/Career/rocket.png" alt="Rocket-Img" class="hlimgThree" />
            </div>
        </div>
        <!----------- Section Two ----------->
        <div class="sectiontwo">
            <h3>At Sutlej Soft, a career is all about rising to the challenge and taking the bull by the horn.</h3>
            <p>
                We believe that investing in our team is a strong catalyst for long term growth. And we take great care to build loyalty through humane and employee-friendly policies. The organization is structured efficiently to align with the requirements of the various business segments and to ensure that the most effective solutions are delivered in accelerated timeframes. We're a company that understands that product innovation comes from people innovation, and that's why we invest in cultivating leaders throughout the organization.
            </p>
            <p>
                Our new additions to the team include a good mix of fresh graduates from management and technical institutes in India, as well as lateral hires with appropriate experience in their respective fields that match our industry-leading requirements. Come to Sutlej Soft and make connections that matter.
            </p>
            <p>
                If the opportunity interests YOU, mail your CV to <a href="mailto:careerwithus@sutlejsoft.com">careerwithus@sutlejsoft.com</a> or Call <a href="tel:+91 9148031919">+91 9148031919</a>.
            </p>
        </div>
        <!----------- Section Three ----------->
        <div class="sectionThree">
            <h3 class="sectionThreeHead">SEE WHERE YOU FIT IN</h3>
            <div class="flexedCrads">
                <div class="careerCards">
                    <h4 class="headCareerType">Designing</h4>
                    <img src="../../images/Career/careerOne.png" alt="careerImg" class="carrerCardImg" />
                </div>

                <div class="careerCards">
                    <h4 class="headCareerType">Coding</h4>
                    <img src="../../images/Career/careerTwo.png" alt="careerImg" class="carrerCardImg" />
                </div>

                <div class="careerCards">
                    <h4 class="headCareerType">SCIENCE</h4>
                    <img src="../../images/Career/rocket.png" alt="careerImg" class="carrerCardImg" />
                </div>


                <div class="careerCards">
                    <h4 class="headCareerType">Designing</h4>
                    <img src="../../images/Career/careerOne.png" alt="careerImg" class="carrerCardImg" />
                </div>


                <div class="careerCards">
                    <h4 class="headCareerType">Designing</h4>
                    <img src="../../images/Career/careerOne.png" alt="careerImg" class="carrerCardImg" />
                </div>


                <div class="careerCards">
                    <h4 class="headCareerType">Designing</h4>
                    <img src="../../images/Career/careerOne.png" alt="careerImg" class="carrerCardImg" />
                </div>
            </div>
        </div>
    </div>
    <%- include ('../partials/footer') %>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>