<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="main">

        <%- include ('../partials/nav') %>

            <div class="container hero row">
                <div class="content">
                    <h1>Software Services</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis Rabbs </p>
                    <a><button>Learn More </button></a>
                </div>
                <div class="img-wrapper">
                    <div class="container">
                        <div class="owl-carousel New">
                            <div class="card">
                                <img src="/images/hero-right.png" alt="Client_Photo" />
                            </div>
                            <div class="card">
                                <img src="/images/hero-right.png" alt="Client_Photo" />
                            </div>
                            <div class="card">
                                <img src="/images/hero-right.png" alt="Client_Photo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section 2 -->

            <div class="container about ">
                <div class="about-content">
                    <h2>ABOUT US</h2>
                    <div>
                        <img src="/images/box.png">
                    </div>
                    <p>Sutlej Soft LLP, head quartered at Bengaluru, is primarily focused on Software Development. We
                        specialize in web and custom mobile development. We excel in building Android, web applications
                        for our clients. Our team has vast experience in building scalable and fault tolerant back-ends
                        that integrate into mobile and web applications.

                        We have a strong team in the area of Software Development with core competencies in Angular,
                        Microsoft.Net,Java and various databases like MySQL, SQL Server, Elastic Search, Oracle and
                        Mongo Db. Solutions are by default cloud enabled, however, it depends on end service provider ,
                        like AWS, Azure etc., chosen for implementation. We use Agile Sprint development methodology
                        with iterations of 3 to 4 weeks to ensure that working Software is delivered for each sprint.
                        Quality Assurance is a critical component of our Project development life cycle. To achieve this
                        objective, we have a dedicated team that focuses on Manual, Functional & Regression Testing,
                        Performance Testing and Mobile Testing.</p>
                </div>

                <div class="about-img">
                    <img src="/images/home/anout-side.png">
                </div>
            </div>

            <!-- Section 3 -->

            <div class="StoryVision">

                <div class="carousel-parent">
                    <div id="sync2" class="owl-carousel owl-theme">
                        <div class="item">
                            <button class="navbtn">
                                Our Story
                            </button>
                        </div>
                        <div class="item">
                            <button class="navbtn">
                                Our Mission
                            </button>
                        </div>
                        <div class="item">
                            <button class="navbtn">
                                Our Vision
                            </button>
                        </div>
                    </div>
                    <div class="fourBlock">
                        <img src="../../images/home/4 Boxes.png" />
                    </div>
                    <div id="sync1" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="section-imgparent">
                                <div class="CarSlide">
                                    <div class="slideContentHolder">
                                        <h2 class="carHeader">OUR STORY</h2>
                                        <p>
                                            We started our journey by building a Software Product, EstatesData, CRM for
                                            the Real Estate Companies. Developed over a period of 18 months, a product
                                            of Sutlej Soft, EstatesData’s main goal is to ensure smooth transition from
                                            the use of traditional spread sheets /Excel sheets which are being used by
                                            many Real Estate Companies to manage business work-flow, to a more organized
                                            and disciplined environment.

                                            During the last quarter of 2018, to broaden our technical and domain
                                            expertise we decided to include Software services portfolio as a new
                                            business vertical. In the same quarter, we added Minibar Systems Rockville
                                            MD, USA as our first Customer in this business vertical. MiniBar Systems
                                            wanted to automize their Order processing system from the manual system they
                                            were following. In 90 days, we delivered an Order Processing System. The
                                            system is on Production since April 2019.

                                            Considering our Commitment, Quality & Competitive Cost, Minibar Systems
                                            awarded us with another Project - a Sales and Management software. This
                                            product is live since April 2020.

                                            In March 2020, we added a UK based company, Medtrend LTD, as our Customer We
                                            are developing an e-learning portal for them in the field of Medical
                                            sciences. This portal will go live in April 2021.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="section-imgparent">
                                <div class="CarSlide">
                                    <div class="slideContentHolder">
                                        <h2 class="carHeader">OUR MISSION</h2>
                                        <p>
                                            Our Mission is to:
                                        </p>
                                        <p>
                                        <ul>
                                            <li>Deliver optimal solutions with quality and services at an affordable
                                                cost.</li>
                                            <li>Continuously improve our operating efficiency.</li>
                                            <li>Recognize that the foundation of our growth and success is making each
                                                and every Customer project a success.</li>
                                            <li>Provide our employees, our most valuable associates, an environment
                                                that:</li>
                                            <ul style="margin-left: 5%;">
                                                <li>values each employee’s unique experience, diversity and contribution
                                                </li>
                                                <li>treat all individuals with dignity and respect</li>
                                                <li>allow everyone to reach their full potential</li>
                                                <li>encourage inclusion and active participation</li>
                                                <li>nurtures the ‘can-do’ spirit of the SutlejSoft’s Team</li>
                                            </ul>
                                            <li>Build a company culture based on superior performance, success through
                                                teamwork, respect and recognition for the individual, diverse and
                                                challenging work, and flexible and rewarding career opportunities for
                                                our employees.</li>
                                        </ul>
                                        </p>










                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="section-imgparent">
                                <div class="CarSlide">
                                    <div class="slideContentHolder">
                                        <h2 class="carHeader">OUR VISION</h2>
                                        <p>
                                            Our vision is to develop in a constant manner and grow as a major IT service
                                            provider to become a leading performer, in providing quality Web and
                                            Software Development solutions in the competitive global marketplace. Our
                                            professional, flexible and integrated process reflects in what we do. We
                                            always guide our customers to success.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>



            </div>


            <!-- Section 4 -->

            <div class="clientTest">
                <h2 class="subHeads">Client testimonials</h2>
                <div class="carContainer">
                    <div class="owl-carousel New">
                        <div class="testClientCard">
                            <img src="../../images/home/tempTestPhoto.png" alt="Client_Photo" />
                            <div class="testClientContent">
                                <h3 class="clientName">Kevin JOHN</h3>
                                <p class="clientContent">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum dignissim ac in
                                    sit. Enim imperdiet tempus pulvinar risus urna id hendrerit ipsum. Viverra est quam
                                    scelerisque sit vivamus vitae scelerisque id. Malesuada tellus.
                                </p>
                            </div>
                        </div>
                        <div class="testClientCard">
                            <img src="../../images/home/tempTestPhoto.png" alt="Client_Photo" />
                            <div class="testClientContent">
                                <h3 class="clientName">Kevin JOHN</h3>
                                <p class="clientContent">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum dignissim ac in
                                    sit. Enim imperdiet tempus pulvinar risus urna id hendrerit ipsum. Viverra est quam
                                    scelerisque sit vivamus vitae scelerisque id. Malesuada tellus.
                                </p>
                            </div>
                        </div>
                        <div class="testClientCard">
                            <img src="../../images/home/tempTestPhoto.png" alt="Client_Photo" />
                            <div class="testClientContent">
                                <h3 class="clientName">Kevin JOHN</h3>
                                <p class="clientContent">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum dignissim ac in
                                    sit. Enim imperdiet tempus pulvinar risus urna id hendrerit ipsum. Viverra est quam
                                    scelerisque sit vivamus vitae scelerisque id. Malesuada tellus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section 5 -->

            <div class="OurTeam">

                <h2 class="subHeads alignRight">Our Team</h2>

                <div class="imgHolder">
                    <img src="../../images/home/ourTeam.png" alt="Team Img" class="TeamPhoto" />
                </div>

            </div>

            <%- include ('../partials/footer') %>
    </div>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var owl = $('.owl-carousel.New');
    owl.owlCarousel({
        singleItem: true,
        loop: false,
        margin: 30,
        autoplay: true,
        autoplayTimeout: 2000,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            480: {
                items: 1
            },
            800: {
                items: 1
            },
            1080: {
                items: 1
            }
        },
    });
</script>

<script>
    $(document).ready(function () {

        var sync1 = $("#sync1");
        var sync2 = $("#sync2");
        var slidesPerPage = 4; //globaly define number of elements per page
        var syncedSecondary = true;

        sync1.owlCarousel({
            items: 1,
            slideSpeed: 2000,
            nav: true,
            autoplay: false,
            dots: false,
            loop: false,
            responsiveRefreshRate: 200,
            navText: ['<svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
        }).on('changed.owl.carousel', syncPosition);

        sync2
            .on('initialized.owl.carousel', function () {
                sync2.find(".owl-item").eq(0).addClass("current");
            })
            .owlCarousel({
                items: slidesPerPage,
                dots: false,
                nav: false,
                smartSpeed: 200,
                slideSpeed: 500,
                margin: 10,
                autoplay: false,
                loop: false,
                mouseDrag: false,
                // slideBy: slidesPerPage,
                //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
                responsiveRefreshRate: 100
            }).on('changed.owl.carousel', syncPosition2);

        function syncPosition(el) {
            //if you set loop to false, you have to restore this next line
            //var current = el.item.index;

            //if you disable loop you have to comment this block
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - (el.item.count / 2) - .5);

            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }

            //end block

            sync2
                .find(".owl-item")
                .removeClass("current")
                .eq(current)
                .addClass("current");
            var onscreen = sync2.find('.owl-item.active').length - 1;
            var start = sync2.find('.owl-item.active').first().index();
            var end = sync2.find('.owl-item.active').last().index();

            if (current > end) {
                sync2.data('owl.carousel').to(current, 100, true);
            }
            if (current < start) {
                sync2.data('owl.carousel').to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                sync1.data('owl.carousel').to(number, 100, true);
            }
        }

        sync2.on("click", ".owl-item", function (e) {
            e.preventDefault();
            var number = $(this).index();
            sync1.data('owl.carousel').to(number, 300, true);
        });
    });
</script>



</html>